body {
  background-color: powderblue;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  width: 10%;
}

h1{
  color: #66BFBF;
  text-decoration: overline;
}

h3{
  color: #66BFBF;
}

.titles{
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
}
